<?xml version="1.0" encoding="utf-8" ?>
<plugin
   id="com.sn.box.spoke"
   name="Box Spoke"
   state="published"
   licensable="true"
   version="${project.version}"
   provider_name="ServiceNow"
   invalidate_properties="true"
   scope_name="sn_box_spoke"
   scope_sys_id="fdc25a6bdb1d9700868f5404ce961969">
   	

    <description>
       The Box Spoke for IntegrationHub provides actions that a Process Analyst can use when designing flows. The actions allow them to automate box.
    </description>
 </plugin>
